@require '~styles/colors'
@require '~styles/sizes'

.mobile-header-container
  position: fixed
  left: 0
  width: calc(100% - 20px)
  height: $mobile-header-height
  padding: 0 10px
  border-bottom: 1px solid $border-color-dark
  display: flex
  align-items: center
