@require '~styles/colors'

html, body
  height: 100%
  margin: 0
  padding: 0

body
  background: $background-color-dark

#app-container
  background: $background-color-light
  max-width: 720px
  margin: 0 auto
  height: 100%
  display: flex
  &.view
    max-width: 1920px

:focus
  outline:none

::-moz-focus-inner
  border:0
